
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfd;
    
    color: #333;
    
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2a6592;

}

.accent {
    color: #e67e22;
    
}